<h1>CATALOG</h1>

<button type="button"><a href="/home/search">SEARCH</a></button>
<% @product.each do |product| %>
  <h4><%= link_to product.name, "course_details?url=#{product.homepage}&id=#{product.id}&counter=#{product.counter}}" %> by <%= product.instructors %> in <%= product.course_site %></h4>
<% end %>
<hr />
<%= paginate @product %>
<%= page_entries_info @product %>

