<!DOCTYPE html>
<html>
<head>
    <title>Catalog</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
    	html, body {
    	    max-width: 100%;
    	    overflow-x: hidden;
    	}
    	
    	/* Popup container */
    	.popup {
    	    position: absolute;
    	    display: inline-block;
    	    cursor: pointer;
    	}

    	.sup {
    		position: fixed;
    	    display: inline-block;
    	    cursor: pointer;
    	}

    	/* The actual popup (appears on top) */
    	.popup .popuptext {
    	    visibility: hidden;
    	    width: 960px;
    	    background-color: #555;
    	    color: #fff;
    	    text-align: left;
    	    border-radius: 6px;
    	    padding: 8px 10px;
    	    position: absolute;
    	    z-index: 1;
    	    top: 125%;
    	    left: 50%;
    	    margin-left: -34px;

    	}

    	/* Popup arrow */
    	.popup .popuptext::after {
    	    content: "";
    	    position: absolute;
    	    bottom: 100%;
    	    left: 50%;
    	    margin-left: -5px;
    	    border-width: 5px;
    	    border-style: solid;
    	    border-color: #555 transparent transparent transparent;

    	}

    	/* Toggle this class when clicking on the popup container (hide and show the popup) */
    	.popup .show {
    	    visibility: visible;
    	    -webkit-animation: fadeIn 1s;
    	    animation: fadeIn 1s
    	}

    	/* Add animation (fade in the popup) */
    	@-webkit-keyframes fadeIn {
    	    from {opacity: 0;} 
    	    to {opacity: 1;}
    	}

    	@keyframes fadeIn {
    	    from {opacity: 0;}
    	    to {opacity:1 ;}
    	}
    </style>
	<script>
	// When the user clicks on <div>, open the popup
	function myFunction(idd) {
	    var popup = document.getElementById(idd);
	    popup.classList.toggle('show');
	}
	</script>
</head>

<body>
	<div class="sup" style="width:100%;">
	<div class="sup" style=" color: darkblue; font-size:300%;border-style:solid;border-color:white black white white;padding-bottom: 7000px;padding-right: 30px; ">
	<h1>CATALOG</h1>
	</div>
	<div class="sup" type="button" style="margin-top:180px;margin-bottom: 20px;">
		<div>
		<button style="margin-bottom: 600px;width:150px; height:35px;"><a href="/home/search">SEARCH</a></button>
		</div>
		<div>
		<%= paginate @product %>
		<%= page_entries_info @product %>
		</div>
	</div>
	</div>
	<% @product.each do |product| %>
		<div class="row" style="margin-bottom: 100px; margin-left:500px; padding-bottom: 60px;padding-left: 30px;padding-top: 20px; border-style: solid; border-color:silver; ">
		  	<!-- <div  class="col-sm-9"> -->
		  <img src="<%=product.url_photo%>" style="float:left;width:200px;height:140px;margin-right:10px;">
		  		<h1><%= link_to product.name, "course_details?url=#{product.homepage}&id=#{product.id}&counter=#{product.counter}" %></h1>
		  	<!-- </div> -->
	  		<div  style="margin-bottom: 30px; margin-left: 30px">
	  			 <h3>by <%= product.instructors %>, <%= product.course_site %></h3>
		  		<div class="popup" onclick="myFunction(<%= product.id %>)" style="margin-left: 0px;"> Description
		  				<span class="popuptext" id=<%= product.id %>><%= product.summary %></span>
		  		</div>
	  		</div>
		  <br>
		</div>
	<% end %>
	
	<div class="sup" style="padding-left: 200px;" align="left">
	
	</div>
</body>

