<!DOCTYPE html>
<html>
<head>
    <title>Catalog</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
    	/* Popup container */
    	.popup {
    	    position: fixed;
    	    display: inline-block;
    	    cursor: pointer;
    	}

    	/* The actual popup (appears on top) */
    	.popup .popuptext {
    	    visibility: hidden;
    	    width: 360px;
    	    background-color: #555;
    	    color: #fff;
    	    text-align: center;
    	    border-radius: 6px;
    	    padding: 8px 0;
    	    position: absolute;
    	    z-index: 1;
    	    top: 125%;
    	    left: 50%;
    	    margin-left: 0px;
    	}

    	/* Popup arrow */
    	.popup .popuptext::after {
    	    content: "";
    	    position: absolute;
    	    bottom: 100%;
    	    left: 50%;
    	    margin-left: -5px;
    	    border-width: 5px;
    	    border-style: solid;
    	    border-color: #555 transparent transparent transparent;
    	}

    	/* Toggle this class when clicking on the popup container (hide and show the popup) */
    	.popup .show {
    	    visibility: visible;
    	    -webkit-animation: fadeIn 1s;
    	    animation: fadeIn 1s
    	}

    	/* Add animation (fade in the popup) */
    	@-webkit-keyframes fadeIn {
    	    from {opacity: 0;} 
    	    to {opacity: 1;}
    	}

    	@keyframes fadeIn {
    	    from {opacity: 0;}
    	    to {opacity:1 ;}
    	}
    </style>
	<script>
	// When the user clicks on <div>, open the popup
	function myFunction(idd) {
	    var popup = document.getElementById(idd);
	    popup.classList.toggle('show');
	}
	</script>
</head>

<body>
	<h1>CATALOG</h1>
	<button type="button" style="margin-bottom: 20px;"><a href="/home/search">SEARCH</a></button>

	<% @product.each do |product| %>
		<div class="row">
		  	<!-- <div  class="col-sm-9"> -->
		  <img src="<%=product.url_photo%>" style="float:left;width:60px;height=70px;margin-right:10px;">
		  		<h3><%= link_to product.name, "course_details?url=#{product.homepage}&id=#{product.id}&counter=#{product.counter}" %></h3>
		  	<!-- </div> -->
	  		<div class="col-sm-9" style="margin-bottom: 30px;">
	  			 by <%= product.instructors %> in <%= product.course_site %>
		  		<div class="popup" onclick="myFunction(<%= product.id %>)" style="margin-left: 20px;"> Description
		  				<span class="popuptext" id=<%= product.id %>><%= product.summary %></span>
		  		</div>
	  		</div>
		  <br>
		</div>
	<% end %>
	<hr />
	<%= paginate @product %>
	<%= page_entries_info @product %>
</body>

