<h1>CATALOG</h1>

<div id="button"><a href="/home/search">SEARCH</a></div>

<% @product.each do |product| %>
  <h4><%= link_to product.name, "#{product.homepage}" %> by <%= product.instructors %> in <%= product.course_site %></h4>
<% end %>
<hr />
<%= paginate @product %>
<%= page_entries_info @product %>

