<h1>Welcome Enter your details below</h1>
<%= form_for :user, class: "signupForm" do |f| %>
  <%= f.label :email, "Email Address" %>
  <%= f.text_field :email, class: "shortInput" %> <br />

  <%= f.label :password %>
  <%= f.password_field :password, class: "shortInput" %> <br />

  <%= f.submit "Login", class: "button login" %>

<% end %>